<div class="px-5 bg-custom-gray">
  <p class="text-center custom-header h3 custom-blue py-1">FINANCIAL DASHBOARD</p>

  <div class="custom-container my-4">
    <div class="item1">
      <div class="item-parent  bg-white ">
        <p class="text-center m-0 item-header custom-blue fw-700 py-2">Total Income</p>
        <div class="child p-1 custom-blue">
          <div class="text-center w-100 fw-700 py-2">
            <div class="p-relative">
              <div class="align-content-center p-absolute h-100 p-2">
                <i class="fa-solid fa-dollar-sign fs-40"></i>
              </div>
              <p class="m-0 fs-large">4 719,00</p>
              <p class="m-0 fs-small custom-babyblue my-1">16.1%</p>
            </div>
            <p class="m-0 fs-small">vs previous month</p>
          </div>
        </div>
      </div>
    </div>

    <div class="item2">
      <div class="item-parent  bg-white ">
        <p class="text-center m-0 item-header custom-blue fw-700 py-2">Total Expenses</p>
        <div class="child p-1 custom-blue">
          <div class="text-center w-100 fw-700 py-2">
            <div class="p-relative">
              <div class="align-content-center p-absolute h-100 p-2">
                <i class="fa-solid fa-wallet fs-40"></i>
              </div>
              <p class="m-0 fs-large">3 270,00</p>
              <p class="m-0 fs-small custom-babyblue my-1">16.1%</p>
            </div>
            <p class="m-0 fs-small">vs previous month</p>
          </div>
        </div>
      </div>
    </div>

    <div class="item3">
      <div class="item-parent  bg-white ">
        <p class="text-center m-0 item-header custom-blue fw-700 py-2">Net Profit</p>
        <div class="child p-1 custom-blue">
          <div class="text-center w-100 fw-700 py-2">
            <div class="p-relative">
              <div class="align-content-center p-absolute h-100 p-2">
                <i class="fa-solid fa-chart-line fs-40"></i>
              </div>
              <p class="m-0 fs-large">629,00</p>
              <p class="m-0 fs-small custom-babyblue my-1">-8.8%</p>
            </div>
            <p class="m-0 fs-small">vs previous month</p>
          </div>
        </div>
      </div>
    </div>

    <div class="item4">
      <div class="item-parent bg-white">
        <p class="text-center m-0 item-header custom-blue fw-700 py-2">Cash at end of month</p>
        <div class="child p-1 custom-blue">
          <div class="text-center w-100 fw-700 py-2">
            <div class="p-relative">
              <div class="align-content-center p-absolute h-100 p-2">
                <i class="fa-solid fa-money-bill-wave fs-40"></i>
              </div>
              <p class="m-0 fs-large">7 684,00</p>
              <p class="m-0 fs-small custom-babyblue my-1">4.9%</p>
            </div>
            <p class="m-0 fs-small">vs previous month</p>
          </div>
        </div>
      </div>
    </div>

    <div class="item5 p-relative">
      <ag-charts class="d-block p-absolute" [options]="pieOptions"></ag-charts>
    </div>

    <div class="item6">
      <div class="item-parent  bg-white ">
        <p class="text-center m-0 item-header custom-blue fw-700 py-2">Accounts Receivable</p>
        <div class="child p-1 custom-blue">
          <div class="text-center w-100 fw-700 py-2">
            <div class="p-relative">
              <div class="align-content-center p-absolute h-100 p-2">
                <i class="fa-solid fa-coins fs-40"></i>
              </div>
              <p class="m-0 fs-large">609,00</p>
              <p class="m-0 fs-small custom-babyblue my-1">-5.1%</p>
            </div>
            <p class="m-0 fs-small">vs previous month</p>
          </div>
        </div>
      </div>
    </div>

    <div class="item7">
      <div class="item-parent  bg-white ">
        <p class="text-center m-0 item-header custom-blue fw-700 py-2">Accounts Payable</p>
        <div class="child p-1 custom-blue">
          <div class="text-center w-100 fw-700 py-2">
            <div class="p-relative">
              <div class="align-content-center p-absolute h-100 p-2">
                <i class="fa-solid fa-money-check fs-40"></i>
              </div>
              <p class="m-0 fs-large">538,00</p>
              <p class="m-0 fs-small custom-babyblue my-1">-15.7%</p>
            </div>
            <p class="m-0 fs-small">vs previous month</p>
          </div>
        </div>
      </div>
    </div>

    <div class="item8">
      <div class="item-parent bg-white">
        <p class="text-center m-0 item-header custom-blue fw-700 py-2">Quick Ratio</p>
        <div class="child p-1 custom-blue">
          <div class="text-center w-100 fw-700 py-2">
            <div class="p-relative">
              <div class="align-content-center p-absolute h-100 p-2">
                <i class="fa-solid fa-chart-pie fs-40"></i>
              </div>
              <p class="m-0 fs-large custom-babyblue">1.2%</p>
              <p class="m-0 fs-small my-1">1 or higher</p>
            </div>
            <p class="m-0 fs-small">Quick Ratio Target</p>
          </div>
        </div>
      </div>
    </div>

    <div class="item9">
      <div class="item-parent bg-white">
        <p class="text-center m-0 item-header custom-blue fw-700 py-2">Current Ratio</p>
        <div class="child p-1 custom-blue">
          <div class="text-center w-100 fw-700 py-2">
            <div class="p-relative">
              <div class="align-content-center p-absolute h-100 p-2">
                <i class="fa-solid fa-stopwatch fs-40"></i>
              </div>
              <p class="m-0 fs-large custom-babyblue">3.02</p>
              <p class="m-0 fs-small my-1">3 or higher</p>
            </div>
            <p class="m-0 fs-small">Current Ratio Target</p>
          </div>
        </div>
      </div>
    </div>

    <div class="item10">
      <ag-charts class="d-block" [options]="barOptions"></ag-charts>
    </div>

    <div class="item11">
      <div class="item-parent bg-white h-100">
        <p class="text-center m-0 item-header custom-blue fw-700 py-2">% of income Budget</p>
        <div class="child p-1 custom-blue">
          <div class="text-center w-100 fw-700 py-2">
            <div class="p-relative">
              <div class="align-content-center p-absolute h-100 p-2">
                <i class="fa-solid fa-stopwatch fs-40"></i>
              </div>
              <p class="m-0 fs-large custom-babyblue">3.02</p>
              <p class="m-0 fs-small my-1">3 or higher</p>
            </div>
            <p class="m-0 fs-small">Current Ratio Target</p>
          </div>
        </div>
      </div>
    </div>

    <div class="item12"></div>
  </div>
</div>


<router-outlet></router-outlet>