.custom-blue {
    color: #02385d;
    ;
}

.bg-custom-gray {
    background: rgb(242 242 242);
}

.item-parent {
    border-radius: 10%;
    box-shadow: 0px 0px 4px 1px #dbdbdb;
}

.item-header {
    border-bottom: 1px solid rgb(242 242 242);
}

.item-parent i {
    font-size: 45px;
    font-weight: 100;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.fw-500 {
    font-weight: 500;
}

.custom-babyblue {
    color: #17a8e9;
}

.fs-large {
    font-size: large;
}

.fs-small {
    font-size: small;
}